# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.RedDeerTest.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\MOS_LENOVO_REGINA\Documents\RedDeerTest\.idea\.idea.RedDeerTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
